<div class="container">
  <nav>
    <div>
    <div id="barra">
    <ul>
      <li><a href="/ask">Ask a question</a></li>
      <li><a href="/index">Home</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
    <br clear="all">
    </div>
    </div>  
  </nav>
  <div id="create_question">
    <form action="/create_question" method="post">
      <b>Create your own question:</b><br><br>
      <input type="text" name="question_title" placeholder="Title"><br><br>
      <textarea type="textarea" rows="10" cols="20" name="question_description" placeholder="Describe your question here."></textarea>
      <br><br>
      <input type="submit" value="Submit"><br><br>
    </form>
  </div>
</div>